{% load static %}
<li class="nav-item">
    <a class="nav-link spinner-loading" style="color: black;" href="/"><img src="{% static 'icons/home.svg' %}" width="25rem"
            style="margin-right: 20px;" alt="home"> Home</a>
</li>

<li class="nav-item">
    <a class="nav-link" style="color: black;" href="/experiences/"><img src="{% static 'icons/resumo.svg' %}"
            width="25rem" style="margin-right: 20px;" alt="resumo"> Experiências Profissionais</a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" style="color: black;">
        <img src="{% static 'icons/courses.svg' %}" width="25rem" style="margin-right: 20px;" alt="courses">
        Formação
    </a>

    <!-- Dropdown -->
    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown" style="border: none;">
        <li><a class="dropdown-item spinner-loading" href="/education/">Acadêmica</a></li>
        <li><a class="dropdown-item spinner-loading" href="/education/courses/">Cursos complementares</a></li>
    </ul>
</li>

<li class="nav-item">
    <a class="nav-link spinner-loading" style="color: black;" href="/contacts/"><img src="{% static 'icons/contact.svg' %}"
            width="25rem" style="margin-right: 20px;" alt="contact"> Contatos</a>
</li>
