{% load static %}
{% load avatar_tags %}
<nav class="navbar navbar-dark fixed-top">
    <div class="container-fluid">

        <div>
            <!-- Icon menu -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" title="Menu">
          <span class="navbar-toggler-icon"></span>
        </button>
            <!-- Text navbar -->
            <a class="navbar-brand" href="/" style="color: white;">Portfólio - Thiago Lemes</a>
        </div>

        <!-- Avatar -->
        {% include 'components/avatar/avatar.html' %}

        <!-- Menu -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

            <!-- Title menu -->
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-weight: 700; color: black;">Menu</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <li>
                <hr class="dropdown-divider">
            </li>

            <!-- Itens menu -->
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% include 'components/navbar/items.html' %}
                </ul>

            </div>
        </div>
    </div>
</nav>