{% load static %}
<section class="section about-section" id="education" style="background:  url('{% static 'images/background.jpg' %}') no-repeat;background-size: cover;">
    <div class="container">
        <div class="row align-items-center justify-content-around flex-row-reverse">
            <div class="col-lg-10">
                <div class="about-text">
                    <h3 class="dark-color" style="color: black;">Formação Acadêmica</h3>
                    <h4 class="theme-color">Ciência da Computação - 2003/2008</h4>
                    <p style="text-align: justify; color: #000;">
                        Bacharel em Ciência da Computação desde 2008, vem atuando na área de T.I. desde 2005. 
                        Realizando serviços de suporte à informática, desenvolvimento web e implantação de 
                        sistemas e redes de dados.
                    </p>
                    <p style="text-align: justify; color: #000;">
                        Detentor   de  conhecimentos   na   área   de   infraestrutura   decomputadores - Windows Server, 
                        Linux, Redes de Computadores -, emdesenvolvimento   web   -   Engenharia   de   dados,  ETL,   
                        Scrapy,   Spark,Python(Django), Java(Spring Boot),  JavaScript, MongoDB, MySQL, SQLServer, Oracle, 
                        Postgres.
                    </p>
                    <p style="text-align: justify; color: #000;">
                        Gerenciamento de equipes de suporte técnico e infraestrutura de redes.
                    </p>
                    
                    <div class="btn-bar">
                        <a class="px-btn theme-t" href="/">Retornar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>