{% load tags_custom %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <section id="news" class="white-bg padding-top-bottom">
        <div class="container bootstrap snippets bootdey">
            <div class="timeline" >

                <!-- Inicio Primeiro -->
                {% get_right '0' as action %}
                {% for dt in dts %}
                <div class="row">
                    {% if action == '0' %}
                        <div class="col-sm-6 news-item">
                    {% else %}
                        <div class="col-sm-6 news-item">
                        </div>
                        <div class="col-sm-6 news-item right">
                    {% endif %}

                    {%if action == '1'%}
                        {% get_right '0' as action %}
                    {% else %}
                        {% get_right '1' as action %}
                    {% endif %}

                            <div class="news-content">
                                <div class="date">
                                    <small style="color: rgb(5, 124, 192);">{{ dt.start_date }}</small>
                                    <small style="color: rgb(5, 124, 192);">{{ dt.departure_date }}</small>
                                </div>
                                <h2 class="news-title">{{ dt.occupation }} </h2>
                                <p style="font-weight: 600;"> {{ dt.company }}</p>
                                <p>
                                    {{ dt.briefsummary }}
                                </p>
                                <a class="read-more" href="/experiences/{{ dt.id }}">Saiba mais...</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
</div>

