{% load static %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="main-content" class="file_manager">
    <div class="container">
        <div class="row">
            <!-- Init Favorites -->
            <div class="title_box" id="subject">
                <div id="title">Favoritos</div>
                <div id="content">
                    <!-- Init card -->
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <!-- Card -->
                        <div class="card">
                            <div class="file">
                                <a href="/dashboard/">
                                    <!-- Image    -->
                                    <div class="image">
                                        <img src="{% static 'images/simplilearn.png' %}" alt="img" width="100%"
                                            class="img-fluid">
                                    </div>
                                    <!-- Description -->
                                    <div class="file-name">
                                        <small>
                                            Site: Futerex
                                        </small>
                                        <small class="date text-muted">
                                            Tags:
                                            <span class="badge bg-primary">curso</span>
                                            <span class="badge bg-primary">inglês</span>
                                            <span class="badge bg-primary">inglês</span>
                                            <span class="badge bg-primary">inglês</span>
                                            <span class="badge bg-primary">inglês</span>
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End card -->
                </div>
            </div>
            <!-- End Favorites -->
            <br>
        </div>
    </div>
</div>
<br>
<div id="main-content" class="file_manager">
    <div class="container">
        <div class="row">
            <!-- Init Favorites -->
            <div class="title_box" id="subject">
                <div id="title">Desenvolvimento</div>
                <div id="content">
                    <!-- Init card -->
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <!-- Card -->
                        <div class="card">
                            <div class="file">
                                <a href="/dashboard/">
                                    <!-- Image    -->
                                    <div class="image">
                                        <img src="{% static 'images/simplilearn.png' %}" alt="img" width="100%"
                                            class="img-fluid">
                                    </div>
                                    <!-- Description -->
                                    <div class="file-name">
                                        <small>
                                            Site: Futerex
                                        </small>
                                        <small class="date text-muted">
                                            Tags:
                                            <span class="badge bg-primary">curso</span>
                                            <span class="badge bg-primary">inglês</span>
                                            <span class="badge bg-primary">inglês</span>
                                            <span class="badge bg-primary">inglês</span>
                                            <span class="badge bg-primary">inglês</span>
                                        </small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End card -->
                </div>
            </div>
            <!-- End Favorites -->
            <br>
        </div>
    </div>
</div>