{% load static %}
{% load avatar_tags %}
<!DOCTYPE html>
<html lang="pt-br">
    
<head>

    <!-- Include Header -->
    {% include "models_templates/header.html" %}
    
</head>

<body>

    {% include "components/navbar/navbar.html" %}
    <!-- Include Body -->
    {% block content %}
        <a href="{% url 'avatar_change' %}"></a>
    {% endblock %}
    {% include 'components/spinner.html' %}
    <!-- Include Footer -->
    {% include "models_templates/footer.html" %}
    
</body>

<!-- JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $(".spinner-loading").click(function() {
        $('#loading').css("display","block");
    });
</script>
</html>